@font-face {
	font-family: "GeneralSans-Variable";
	src: url("../../../public/fonts/GeneralSans-Variable.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Variable.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Variable.ttf") format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-VariableItalic";
	src: url("../../../public/fonts/GeneralSans-VariableItalic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-VariableItalic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-VariableItalic.ttf") format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "GeneralSans-Extralight";
	src: url("../../../public/fonts/GeneralSans-Extralight.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Extralight.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Extralight.ttf") format("truetype");
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-ExtralightItalic";
	src: url("../../../public/fonts/GeneralSans-ExtralightItalic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-ExtralightItalic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-ExtralightItalic.ttf") format("truetype");
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "GeneralSans-Light";
	src: url("../../../public/fonts/GeneralSans-Light.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Light.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-LightItalic";
	src: url("../../../public/fonts/GeneralSans-LightItalic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-LightItalic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "GeneralSans-Regular";
	src: url("../../../public/fonts/GeneralSans-Regular.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Regular.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-Italic";
	src: url("../../../public/fonts/GeneralSans-Italic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Italic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Italic.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "GeneralSans-Medium";
	src: url("../../../public/fonts/GeneralSans-Medium.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Medium.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-MediumItalic";
	src: url("../../../public/fonts/GeneralSans-MediumItalic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-MediumItalic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "GeneralSans-Semibold";
	src: url("../../../public/fonts/GeneralSans-Semibold.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Semibold.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-SemiboldItalic";
	src: url("../../../public/fonts/GeneralSans-SemiboldItalic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-SemiboldItalic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-SemiboldItalic.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "GeneralSans-Bold";
	src: url("../../../public/fonts/GeneralSans-Bold.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-Bold.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-BoldItalic";
	src: url("../../../public/fonts/GeneralSans-BoldItalic.woff2") format("woff2"),
	url("../../../public/fonts/GeneralSans-BoldItalic.woff") format("woff"),
	url("../../../public/fonts/GeneralSans-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}