*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button,
input {
	border: none;
	background-color: transparent;
}

button {
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

address {
	font-style: normal;
}