@import "./base.css";

body {
	background-color: slategray;
	height: 200vh;
	position: relative;
	font-size: 16em;
	text-rendering: geometricPrecision;
	min-width: 374rem;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
