@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "./fonts";
@import "./reset";

@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";

html {
	font-size: 6.25%;
	scroll-behavior: smooth;
}

body {
	font-size: 16em;
	text-rendering: geometricPrecision;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}