:root {
	--font-family: "General Sans";

	--neutral-100: hsl(0, 0%, 100%);
	--neutral-200: hsl(197, 24%, 94%);
	--primary: hsl(353, 86%, 54%);
	--neutral-300: hsl(213, 18%, 78%);
	--neutral-400: hsl(0, 0%, 24%);
	--neutral-600: hsl(0, 0%, 16%);
	--neutral-800: hsl(0, 0%, 12%);
	--white-transparent-10: hsla(0, 0%, 100%, 0.1);
}
